body {
    text-align: center;
    background-color: darkslategrey;
}

#typewriter {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0.15em;
    animation: typewriter 3s steps(30, end);
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-weight: 200;
    color: honeydew;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.container {  
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 2.4fr 0.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "frame content"
        "back content";
}

.frame {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.8fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "head"
        "speech";
    grid-area: frame;
}

.head { grid-area: head; }

.speech { grid-area: speech; }

.back {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". options ."
        ". . ."
        ". . .";
    grid-area: back;
}

.options { 
    grid-area: back_button; 
}

.back-button {
    background-image: url("chat-bubble.gif");
    background-color: transparent;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    text-align: center;
    font-family: monaco, Consolas, "Lucida Console", monospace;
    width: 100px;
    font-size: 25px;
    font-weight: 200;
    animation: none;
}

.back-button:hover {
    transform: scale(110%);
}

.content { 
    grid-area: content; 
    font-family: monaco, Consolas, "Lucida Console", monospace;
    color: honeydew;
}

/* Mobile */
@media (max-width: 500px) {
    .body {
        width: 90%;
        font-size: 14px;
    }
}

/* Tablet */
@media (max-width: 768px) {
    .body {
        width: 80%;
        font-size: 16px;
    }
}