body {
  text-align: center;
  background-color: honeydew;
}

#typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typewriter 3s steps(30, end);
  font-family: "Pixelify Sans", serif;
  font-size: 14px;
  font-weight: 200;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.container {  
  display: grid;
  grid-template-columns: 0.3fr 2.4fr 0.3fr;
  grid-template-rows: 1.5fr 0.8fr;
  grid-template-areas:
    ". frame ."
    ". options .";
  margin: 0 auto;
  width: 80%;
  padding-top: 15%;
  zoom: 200%;
}

.frame {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.8fr 0.2fr;
  grid-template-areas:
    "head"
    "speech";
  grid-area: frame;
}

@keyframes c-to-l {
  from {
    translate: none;
  }
  to {
    translate: -50% 0;
  }
}

@keyframes c-to-r {
  from {
    translate: none;
  }
  to {
    translate: 50% 0;
  }
}

@keyframes l-to-c {
  from {
    translate: -50% 0;
  }
  to {
    translate: none;
  }
}

@keyframes r-to-c {
  from {
    translate: 50% 0;
  }
  to {
    translate: none;
  }
}

.head { 
  grid-area: head; 
}

.speech { 
  grid-area: speech;  
}

.options {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "option_a . . option_d"
    ". option_b option_c ."
    ". . . .";
  grid-area: options;
}

.option_a { 
  grid-area: option_a;
}

.option_b { 
  grid-area: option_b;
}

.option_c { 
  grid-area: option_c;
}

.option_d { 
  grid-area: option_d;
}

.cloud-button {
  display: inline-block;
  background-image: url("cloud.gif");
  background-color: transparent;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  text-align: center;
  font-family: "Pixelify Sans", serif;
  font-size: 10px;
  font-weight: 200;
}

.cloud-button:hover {
  transform: scale(110%);
}

@keyframes fade-in {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: inline-block;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    display: inline-block;
  }
  to {
    opacity: 0;
    display: none;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .body {
    width: 90%;
    font-size: 14px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .body {
    width: 80%;
    font-size: 16px;
  }
}
